{% extends "model-page.html" %}

{% block content %}
<div class="conteiner">
    <h2>Agendamentos</h2>
    <a href="evento/">
        <button class="btn btn-primary" type="button">Novo Evento</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Data</th>
                <th>Usuário</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
                <div {% if evento.get_evento_atrasado %}
                                style="color:red"
                     {% endif %}>
                    <tr>
                        <th>{{ evento.titulo }}</th>

                        <th>{{ evento.get_data_evento }}</th>

                        <th>{{ evento.usuario }}</th>

                        <th>(<a href="evento/?id={{ evento.id }}">Editar</a> ||
                            <a href="evento/delete/{{ evento.id }}/">Excluir</a>)</th>
                    </tr>
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}