<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


	<style>body{padding-top: 60px;}</style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div align="center"> 
        <h1>Agenda Digital</h1>
        <form class="form-floating" action="submit" method="POST"> {% csrf_token %}
            <div class="g-5">
                <div class="col-md-2">
                    <div class="form-floating">
                        <input class="form-control" id="floatingInputUser" type="text" name="username">
                        <label for="floatingInputUser">Usuário:</label>
                    </div> <br>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <input class="form-control" id="floatingInputPassword" type="password" name="password">
                <label for="floatingInputPassword">Senha:</label>
                    </div>
                </div>
            </div> <br>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <button type="button" class="btn btn-info">Info</button>

        </form>

        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <strong>Erro!! </strong>{{ message }}
            </div>
        {% endfor %}
    </div>
</body>
</html>